.contact-container{
    height:100vh;
    padding:2% 10%;
    justify-content: center;
    align-items: center;
}

.contact-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    border:1px solid black;
    padding:5% 10%;
    background: rgba(255, 255, 255, 0.198);
    backdrop-filter: blur(100%);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.261);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
    border-radius:30px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:6% 10%;
    background: rgba(198, 198, 198, 0.148);
    backdrop-filter: blur(100%);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
    border-radius:30px;
}
.contact-form > input{
    padding:20px 20px;
    background: rgba(0, 0, 0, 0.296);
    color:white;
    border-radius:20;
    outline:none;
}
.contact-form > textarea{
    padding:20px 20px;
    background: rgba(0, 0, 0, 0.296);
    color:white;
    border-radius:20;
    outline:none;
}
.contact-form > button{
    background-color: white;
    padding:3% 20%;
    border-radius:10px;
    border:2px solid black;
    transition:0.2s ease;
    cursor: pointer;
    box-shadow:3px 3px 1px black;
}

.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin-top:5%;
}

.single-link{
    padding:30px 20px;
    background: rgba(198, 198, 198, 0.148);
    backdrop-filter: blur(100%);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
    border-radius:30px;
}

.single-link > img{
    height:100px;
    width:100px;
}